<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArtContentManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ArtContentManager.Properties.Settings.DatabaseConnection" connectionString="Data Source=COMMANDER-64\SQLEXPRESS;Initial Catalog=ArtProducts;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ArtContentManager.Properties.Settings>
            <setting name="LastScanPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CurrentSkinUri" serializeAs="String">
                <value>.\Skins\MidnightSkin.xaml</value>
            </setting>
            <setting name="WorkFolder" serializeAs="String">
                <value/>
            </setting>
        </ArtContentManager.Properties.Settings>
    </userSettings>
</configuration>
